<!DOCTYPE html>

<html>
<head><title>mcc</title></head>
<body>
<h1>Groups</h1>



<h3>group name</h3>
<ul>
<h3>students<h3>
<ul>
<% entries.forEach(function(entry){ %>
     <li><%= entry.student_name  %></li>
<% }); %>
</ul>



</body>
</html>