<!DOCTYPE html>

<html>
<head><title>mcc</title></head>
<body>
<h1>Groups</h1>



<h3><%= entries[0].group_name  %> by <%= entries[0].student_name  %></h3>
<h3>students<h3>
<ul>

<ul>
<% entries.forEach(function(entry){ %>
     <li><%= entry.student_name  %></li>
<% }); %>
</ul>



</body>
</html>