<!DOCTYPE html>

<html>
<head><title>mcc</title></head>
<body>
<form action="join" method="post">
name:<input type="text" name="name"/><br>
phone:<input type="text" name="phone"/><br>
<input type="submit" name="submit" value="Join"/>
</form>
</body>
</html>